{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Ma liste{% endblock %}

{% block body %}

    <h1>Mes idées{% if archived is defined %} archivées{% endif %}</h1>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    <div>
        {% if not idees %}
            {% if archived is defined %}
            <div class="alert alert-warning">Vous n'avez aucune idée archivée.</div>
            {% else %}
            <div class="alert alert-warning">
                Vous n'avez aucune idée de cadeau.<br>
                <a href="{{ path('idee_new') }}"><button type="button" class="btn btn-primary">Ajouter une idée</button></a>
            </div>
            {% endif %}
        {%  else %}
	
	{% if archived is not defined %}
	<a href="{{ path('idee_new') }}"><button type="button" class="btn btn-primary">Ajouter une idée</button></a>
	<br><br>
	{% endif %}

        <div class="listeCadeau">
            {% for idee in idees %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><img class="cadeau" src="{{ asset('image/cadeau.png') }}" alt="">{{ idee.libelle }}</h5>
                    <p class="card-text">{{ idee.commentaire|nl2br }}</p>
                    <p><a target="_blank" href="{{ idee.url }}" title="Ouvrir dans un nouvel onglet" class="card-link">{{ idee.url[:30] }} {% if idee.url|length > 30 %} [...]{% endif %}</a></p>
                    <p class="card-text">

                        {% if archived is not defined %}
                        <a href="{{ path('idee_update', {'id': idee.id}) }}" title="Modifier"><button type="button" class="btn btn-info btn-sm"><i class="fas fa-pencil-alt"></i>&nbsp;Modifier</button></a>
                        {% endif %}

                        {% if idee.comments|length %}
                        <a href="{{ path('idee_update', {'id' : idee.id}) }}">
                            <button type="button" class="btn btn-info btn-sm">
                                <i class="fas fa-comments"></i>&nbsp;{% transchoice idee.comments|length %}{0} Commenter|{1} Commentaire|]1,Inf[ Commentaires{% endtranschoice %}
                                    &nbsp;<span class="badge badge-light">{{ idee.comments|length }}</span>
                            </button>
                        </a>
                        {% endif %}

                        {% if idee.archived %}
                            <a href="{{ path('idee_unarchive', {'id': idee.id}) }}" title="Désarchiver"><button type="button" class="btn btn-info btn-sm"><i class="fas fa-archive"></i>&nbsp;Désarchiver</button></a>
                        {%  else %}
                            <a href="{{ path('idee_archive', {'id': idee.id}) }}" title="Archiver"><button type="button" class="btn btn-info btn-sm"><i class="fas fa-archive"></i>&nbsp;Archiver</button></a>
                        {% endif %}
                        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteIdee{{ idee.id }}" title="Supprimer"><i class="fas fa-trash-alt"></i>&nbsp;Supprimer</button>
                        <!-- Modal -->
                        {{  include('include/modal.html.twig', {'id_modal' : 'deleteIdee' ~ idee.id,'title' : 'Supprimer cette idée', 'route' : path('idee_delete', {'id': idee.id})}) }}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>

        <a href="{{ path('idee_new') }}"><button type="button" class="btn btn-primary">Ajouter une idée</button></a>

        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#deleteAllIdees">Supprimer toutes mes idées</button>

        <!-- Modal -->
        {{  include('include/modal.html.twig', {'id_modal' : 'deleteAllIdees','title' : 'Supprimer toutes vos idées', 'route' : path('user_idees_delete')}) }}
        {% endif %}
    </div>
{% endblock %}
