{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} {{ idee.libelle }}{% endblock %}

{% block body %}

<h1>{{ idee.libelle }}</h1>
{% if idee.userAdding %}<p>Ajoutée par {{ idee.userAdding.fullname }}</p>{% endif %}

<div>
    <h3>Description</h3>
    {% if idee.commentaire %}
    <p>{{ idee.commentaire|nl2br }}</p>
    {% else %}
    Aucune description
    {% endif %}

    <h3>Lien</h3>
    {% if idee.url %}
    <p><a target="_blank" href="{{ idee.url }}">{{ idee.url }}</a></p>
    {% else %}
    Aucun lien.
    {% endif %}

    <div class="jumbotron">
        {% if idee.comments|length %}
        <h3>Commentaires</h3>
        <div class="list-group">
        {% for comment in idee.comments %}
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <p>
                    <b>{{ comment.user.firstname }}</b> - Le {{ comment.date|date("d/m/Y à H:i") }}
                    {% if app.user.id == comment.user.id %}<a href="{{ path('comment_delete', {'id' : comment.id}) }}" class="badge badge-danger">Supprimer</a>{% endif %}
                </p>
                <p>{{ comment.content|nl2br }}</p>
            </div>
        {% endfor %}
        </div>
            <br>
        {% endif %}

        <h4>Déposer un commentaire</h4>
        {{ form_start(formComment) }}
        <div class="form-group">
            {{ form_label(formComment.content) }}
            {{ form_errors(formComment.content) }}
            {{ form_widget(formComment.content, {'attr' : {'class' : 'form-control'}}) }}
        </div>

        <div>
            {{ form_widget(formComment.save, {'attr' : {'class' : 'btn btn-primary'}}) }}
        </div>
        {{ form_end(formComment) }}
    </div>
</div>
{% endblock %}

