{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} {{ idee.libelle }}{% endblock %}

{% block body %}

    <div class="container">
        <h1>{{ idee.libelle }}</h1>
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.libelle) }}
            {{ form_errors(form.libelle) }}
            {{ form_widget(form.libelle, {'attr' : {'class' : 'form-control', 'placeholder' : 'Nom'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.commentaire) }}
            {{ form_errors(form.commentaire) }}
            {{ form_widget(form.commentaire, {'attr' : {'class' : 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.url) }}
            {{ form_errors(form.url) }}
            <div class="input-group mb-3">
                {{ form_widget(form.url, {'attr' : {'class' : 'form-control', 'placeholder' : 'Lien vers une page d\'exemple'}}) }}
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2"><a target="_blank" href="{{ idee.url }}">Voir</a></span>
                </div>
            </div>
        </div>

        <div>
            {{ form_widget(form.save, {'attr' : {'class' : 'btn btn-primary'}}) }}
        </div>
        {{ form_end(form) }}

        {% if idee.comments|length %}
        <div class="jumbotron">
            <h3>Commentaires</h3>
            <div class="list-group">
                {% for comment in idee.comments %}
                    <div class="list-group-item list-group-item-action flex-column align-items-start">
                        <p>
                            <b>{{ comment.user.firstname }}</b> - Le {{ comment.date|date("d/m/Y à H:i") }}
                            {% if app.user.id == comment.user.id %}<a href="{{ path('comment_delete', {'id' : comment.id}) }}" class="badge badge-danger">Supprimer</a>{% endif %}
                        </p>
                        <p>{{ comment.content|nl2br }}</p>
                    </div>
                {% endfor %}
            </div>
            <br>

            <h4>Répondre {% transchoice idee.comments|length %}{1} au commentaire|]1,Inf[ aux commentaires{% endtranschoice %}</h4>
            {{ form_start(formComment) }}
            <div class="form-group">
                {{ form_label(formComment.content) }}
                {{ form_errors(formComment.content) }}
                {{ form_widget(formComment.content, {'attr' : {'class' : 'form-control'}}) }}
            </div>

            <div>
                {{ form_widget(formComment.save, {'attr' : {'class' : 'btn btn-primary'}}) }}
            </div>
            {{ form_end(formComment) }}
        </div>
        {% endif %}
    </div>
{% endblock %}