{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Liste des membres{% endblock %}

{% block body %}
<h1>Liste des membres</h1>
{% for message in app.flashes('success') %}
    <div class="alert alert-success">{{ message }}</div>
{% endfor %}
{% for message in app.flashes('danger') %}
    <div class="alert alert-danger">{{ message }}</div>
{% endfor %}
<div>
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td title="{{ user.fullname }}">{{ user.firstname }}</td>
                <td>
                    <a href="{{ path('idee_new', {'id_user': user.id}) }}" class="btn btn-primary btn-sm" title="Ajouter une idée"><i class="fas fa-plus"></i>&nbsp;Ajouter une idée</a>
                    <a href="{{ path('user_show', {'id': user.id}) }}" class="btn btn-primary btn-sm" title="Voir ses idées"><i class="fas fa-list-ul"></i>&nbsp;Voir la liste d'idées&nbsp;&nbsp;<span class="badge badge-light">{{ user.ideesNotArchived|length }}</span></a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteUser{{ user.id }}" title="Supprimer"><i class="fas fa-trash-alt"></i></button>
                    <!-- Modal -->
                    {{ include('include/modal.html.twig', {'id_modal' : 'deleteUser' ~ user.id ,'title' : 'Supprimer ' ~ user.firstname ~ ' ' ~ user.lastname, 'route' : path('user_delete', {'id': user.id}), 'lower' : false }) }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

    <br>
    <div class="card">
        <div class="card-header"><i class="fas fa-info-circle"></i>&nbsp;Aide</div>
        <div class="card-body">
            <p>Un membre ne peut pas voir les idées de cadeaux que vous ajoutez à sa liste.</p>
            <p>Le petit chiffre sur fond blanc dans <button type="button" class="btn btn-primary btn-sm"><i class="fas fa-list-ul"></i>&nbsp;Voir la liste d'idées&nbsp;&nbsp;<span class="badge badge-light">6</span></button> indique le nombre d'idées du membre.</p>
        </div>
    </div>
{% endblock %}
