{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Votre compte{% endblock %}

{% block body %}

{% if app.request.get('panel') is not defined %}
    {% set panel = 'notdefined' %}
{% else %}
    {% set panel = app.request.get('panel') %}
{% endif %}

<div class="container">

    <h1>Mon compte</h1>
    {% if app.flashes('danger') %}
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
    {% else %}
        <p>Que voulez-vous modifier ?</p>
    {% endif %}

    <div class="row">
        <div class="col-12">
            <div id="accordion">
                <div class="card">

                    {# Mes informations #}
                    <div class="card-header" id="heading-infos">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-infos" aria-expanded="true" aria-controls="collapse-infos">
                                Mes informations
                            </button>
                        </h5>
                    </div>
                    <div id="collapse-infos" class="collapse {% if panel == 'infos' %}show{% endif %}" aria-labelledby="heading-infos" data-parent="#accordion">
                        <div class="card-body">

                            {% for message in app.flashes('successInfosUpdate') %}
                                <div class="alert alert-success">{{ message }}</div>
                            {% endfor %}
                            {{ form_start(formInfos) }}
                            <div class="form-group">
                                {{ form_label(formInfos.lastname) }}
                                {{ form_errors(formInfos.lastname) }}
                                {{ form_widget(formInfos.lastname, {'attr' : {'class' : 'form-control', 'placeholder' : 'Nom'}}) }}
                            </div>

                            <div class="form-group">
                                {{ form_label(formInfos.firstname) }}
                                {{ form_errors(formInfos.firstname) }}
                                {{ form_widget(formInfos.firstname, {'attr' : {'class' : 'form-control', 'placeholder' : 'Prénom'}}) }}
                            </div>

                            <div class="form-group">
                                {{ form_label(formInfos.email) }}
                                {{ form_errors(formInfos.email) }}
                                {{ form_widget(formInfos.email, {'attr' : {'class' : 'form-control', 'placeholder' : 'Prénom'}}) }}
                            </div>

                            <div class="form-group">
                                {{ form_label(formInfos.birthdate) }}
                                {{ form_errors(formInfos.birthdate) }}
                                {{ form_widget(formInfos.birthdate, {'attr' : {'class' : 'form-control'}}) }}
                            </div>

                            <div class="form-group">
                                {{ form_label(formInfos.username) }}
                                {{ form_errors(formInfos.username) }}
                                {{ form_widget(formInfos.username, {'attr' : {'class' : 'form-control', 'placeholder' : 'Identifiant'}}) }}
                            </div>

                            <div>
                                {{ form_widget(formInfos.save, {'attr' : {'class' : 'btn btn-primary'}}) }}
                            </div>
                            {{ form_end(formInfos) }}
                        </div>
                    </div>
                </div>

                {# Mes notifications #}
                <div class="card">
                    <div class="card-header" id="heading-notifs">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-notifs" aria-expanded="false" aria-controls="collapse-notifs">
                                Mes notifications
                            </button>
                        </h5>
                    </div>
                    <div id="collapse-notifs" class="collapse {% if panel == 'notifs' %}show{% endif %}" aria-labelledby="heading-notifs" data-parent="#accordion">
                        <div class="card-body">
                            {% for message in app.flashes('successNotifsUpdate') %}
                                <div class="alert alert-success">{{ message }}</div>
                            {% endfor %}
                            {{ form_start(formNotifications) }}
                            <div class="form-group form-check">
                                {{ form_errors(formNotifications.receiveEmailNewComment) }}
                                {{ form_widget(formNotifications.receiveEmailNewComment, {'attr' : {'class' : 'form-check-input'}}) }}
                                {{ form_label(formNotifications.receiveEmailNewComment) }}
                            </div>

                            <div>
                                {{ form_widget(formNotifications.save, {'attr' : {'class' : 'btn btn-primary'}}) }}
                            </div>
                            {{ form_end(formNotifications) }}
                        </div>
                    </div>
                </div>

                {# Mon mot de passe #}
                <div class="card">
                    <div class="card-header" id="heading-password">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-password" aria-expanded="false" aria-controls="collapse-password">
                                Mon mot de passe
                            </button>
                        </h5>
                    </div>
                    <div id="collapse-password" class="collapse {% if panel == 'password' %}show{% endif %}" aria-labelledby="heading-password" data-parent="#accordion">
                        <div class="card-body">
                            {% for message in app.flashes('successPwdUpdate') %}
                                <div class="alert alert-success">{{ message }}</div>
                            {% endfor %}
                            {% for message in app.flashes('dangerPwdUpdate') %}
                                <div class="alert alert-danger">{{ message }}</div>
                            {% endfor %}
                            {{ form_start(formPwd) }}
                            <div class="form-group">
                                {{ form_label(formPwd.plainPassword.first) }}
                                {{ form_errors(formPwd.plainPassword.first) }}
                                {{ form_widget(formPwd.plainPassword.first, {'attr' : {'class' : 'form-control'}}) }}
                            </div>

                            <div class="form-group">
                                {{ form_label(formPwd.plainPassword.second) }}
                                {{ form_errors(formPwd.plainPassword.second) }}
                                {{ form_widget(formPwd.plainPassword.second, {'attr' : {'class' : 'form-control'}}) }}
                            </div>

                            <div>
                                {{ form_widget(formPwd.save, {'attr' : {'class' : 'btn btn-primary'}}) }}
                            </div>
                            {{ form_end(formPwd) }}
                        </div>
                    </div>
                </div>

                {# Zone à risque #}
                <div class="card">
                    <div class="card-header" id="heading-risk">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-risk" aria-expanded="false" aria-controls="collapse-risk">
                                Zone à risque
                            </button>
                        </h5>
                    </div>
                    <div id="collapse-risk" class="collapse" aria-labelledby="heading-risk" data-parent="#accordion">
                        <div class="card-body">
                            {% if user.idees|length %}
                                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#deleteAllIdees">Supprimer mes idées</button>
                                {{  include('include/modal.html.twig', {'id_modal' : 'deleteAllIdees','title' : 'Supprimer toutes vos idées', 'route' : path('user_idees_delete')}) }}
                            {% endif %}
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteUser">Supprimer mon compte</button>
                            {{ include('include/modal.html.twig', {'id_modal' : 'deleteUser','title' : 'Supprimer votre compte', 'route' : path('user_delete') }) }}
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>
{% endblock %}
